* {
    box-sizing: border-box;
}

main {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

#logo {
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    max-height: 55px;
    margin: 5px auto;
}

.card:hover {
    box-shadow: 10px 5px 5px rgb(196, 208, 197);
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.8s ease;
}

.container-git {
    margin-bottom: 10px;
}