<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <title>Productos</title>
</head>
<body>
    <header>
        <nav>
            <h2 id="logo-nav"> Sembrando Amor </h2>
            <ul>
              <li><a href="#¿quienes somos?">¿Quienes somos? </a></li>
              <li><a href="#servicios">  Servicios </a></li>
              <li><a href="#analisis"> Analisis </a>
              </li>
              <li><a href="/assets/html/productos.html"> Productos </a>
              </li>
              <li><a href="#informacion"> Información personal </a>
              </li>
            </ul>
          </nav>
    </header>

    <main>

    </main>

    <footer>

    </footer>

</body>
</html>